<!DOCTYPE HTML>
<html>
    {% load fontawesome %}
    <head>
        <title>TERRA</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.dropotron.min.js"></script>
        <script src="/static/js/skel.min.js"></script>
        <script src="/static/js/skel-layers.min.js"></script>
        <script src="/static/js/init.js"></script>
        {% fontawesome_stylesheet %}
        <link rel="stylesheet" href="/static/css/skel.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    </head>
    <script>
    function myAlert() {
         var data = "{{ diction.result }}";
         alert( data );
    }
    </script>
    <body class="homepage">

        <!-- Header Wrapper -->
            <div class="wrapper style1">
            
            <!-- Header Wrapper -->
            <div class="wrapper style1">
            
            <!-- Header -->
                <div id="header">
                    <div class="container">
                            
                        <!-- Logo -->
                            <h1><a href="home" id="logo">TERRA</a></h1>
                        
                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                    <li class="active"><a href="home">Home</a></li>
                                    <li>
                                        <a href="#">User</a>
                                        <ul>
                                            <li><a href="signup_user">Sign-Up</a></li>
                                            <li><a href="login_user">Login</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Driver</a>
                                        <ul>
                                            <li><a href="signup_driver">Sign-Up</a></li>
                                            <li><a href="#">Login</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Admin</a>
                                        <ul>
                                            <li><a href="adlog">Login</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
    
                    </div>
                </div>
                
            <!-- Banner -->
                <div id="banner">
                    <section class="container">
                        <section>
                            <h3>Login:</h3>
                            <br>
                                <form method="post" action="user_login_Check">
                                <div class="row uniform 50%">
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="uname" id="uname" value="" placeholder="Username" style="border:1px solid #ffffff; height: 35px; display: block; margin-left: 250px; color: #ffffff" required />
                                        <br>
                                        <input type="password" name="pwrd" id="password" value="" placeholder="Password" style="border:1px solid #ffffff; height: 35px; display: block; margin-left: 250px; color: #ffffff;" required />
                                        <br>
                                        <button style=" font-size: 0.8em; text-align: center;  margin-left: 425px;" class="button alt">Submit</button>

                                    </div>
                                </div>
                            </form>
                        </section>
                        <a href="/forgotpassword" style="margin-left: 400px;"><h6>Forgot Password</h6></a>
                    </section>
                </div>
                {% if diction.value == 1 %}
                    <script>myAlert();</script>
                {% endif %}
            </div>
           
            
        <div id="footer">
            <section class="container">
                <header class="major">
                    <h2>Connect With us</h2>
                    <span class="byline"></span>
                </header>
                <ul class="icons">
                    <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                    <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                    <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
                    <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
                </ul>
                <hr />
            </section>  
        </div>
</body>
</html>